<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ADDRESS-BOOK-APPLICATION</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Address Book Application</h1>

    <a th:href="@{/user/v1/show-add-contact-form}" class="btn btn-primary btn-sm mb-3"> Add Contact </a>
    <a th:href="@{/user/v1/show-get-contact-form-by-AddressBook}" class="btn btn-primary btn-sm mb-3"> View Contacts By
        AddressBook </a>
    <a th:href="@{/user/v1/get-all-unique-relative-contacts}" class="btn btn-primary btn-sm mb-3"> View Unique Contacts
        Between AddressBooks </a>
    <h2>Contact List</h2>
    <table border="1" class="table table-striped table responsive-md">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address Book Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact:${addressBookList}">
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.phoneNumber}"></td>
            <td th:text="${contact.addressBookName}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
