<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Address Book Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Address Book Application</h1>
    <hr>
    <h2>View Contacts By AddressBook </h2>

    <form action="#" th:action="@{/user/v1/get-all-contacts-bookname}" th:object="${addressBookDTO}" method="GET">

        <!-- <input type="text" th:field="*{addressBookName}" placeholder="Address Book Name" class="form-control mb-4 col-4" required>
 -->
        <fieldset>
            <legend>Choose AddressBook:</legend>

            <div>
                <input type="radio" id="addressbookgoogle" name="addressbookname" th:field="*{addressBookName}"
                       value="AddressBookGoogle" checked="checked" required>
                <label for="addressbookgoogle">AddressBookGoogle</label>
            </div>

            <div>
                <input type="radio" id="addressbooksamsung" name="addressbookname" th:field="*{addressBookName}"
                       value="AddressBookSamsung">
                <label for="addressbooksamsung">AddressBookSamsung</label>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-info col-2">Submit</button>
    </form>

    <hr>

    <a th:href="@{/user/v1/get-all-contacts}"> Back to Contact List</a>
</div>
</body>

</html>
